ul, ol {
margin: 0;
list-style-type: none;
}

a {
  color: #1B242F;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #E74C3C;
  text-decoration: underline;
}

#mainBrand {
	color: 
	font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
}

#main{
	background: lightblue url("background.jpg") no-repeat fixed center; 
}